html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 100;
}

.navbar .container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
}

.navbar .logo img{
  height: 50px;
  margin-left: 10px;

}

.navbar .menu {
  display: flex;
  align-items: center
}

.navbar .menu nav {
  margin-right: 10px;
}

.navbar .menu span {
  display: inline-block;
  margin: 8px;
  text-decoration: underline;
}

.main {
  width: 100%;
}

.jumbotron .hero {
  position: relative;
  top: 60px;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.jumbotron .header {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  background-color: black;
}


.tea-types .parent-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tea-types .parent-container .container img {
  height: 200px;
  width: 300px;
  margin: 15px 15px 10px 15px;
}

.tea-types .parent-container .container h4 {
  margin: 10px;
}


.locations {
  position: relative;
  margin-top: 70px;
}

.locations .parent-container {
 position: absolute;
 top: 50%;
 transform: translate(0,-50%);
 width: 100%;
 height: 500px;
}

.locations .container {
  display: flex;
  justify-content: center;
  margin: 0px 40px;
}

.locations .container div {
  margin: 0 40px;
  background-color: black;
  width: 300px;
}

.locations .container div p {
  padding: 15px;
}

.footer {
  height: 200px;
}

.copyright {
  margin-left: 20px;
  text-align: left;

}
